In [53]:
import pandas as pd

url = 'https://raw.githubusercontent.com/houleye45/group3_week4_project/main/data/raw/FOOD-DATA-GROUP5.csv'
general_food = pd.read_csv(url)

In [54]:
general_food.head

<bound method NDFrame.head of      Unnamed: 0.1  Unnamed: 0                      food  Caloric Value  \
0               0           0    margarine with yoghurt             88
1               1           1     sunflower seed butter             99
2               2           2              hazelnut oil            120
3               3           3         menhaden fish oil           1966
4               4           4        cod liver fish oil            123
..            ...         ...                       ...            ...
717           717         717                  jews ear             25
718           718         718           enoki mushrooms              1
719           719         719           morel mushrooms              4
720           720         720  portabella mushrooms raw             19
721           721         721           oyster mushroom              5

         Fat  Saturated Fats  Monounsaturated Fats  Polyunsaturated Fats  \
0      9.800           1.900                 5.600                 2.000
1      8.800           0.700                 6.200                 1.600
2     13.600           1.000                10.600                 1.400
3    218.000          66.300                58.200                74.500
4     13.600           3.100                 6.400                 3.100
..       ...             ...                   ...                   ...
717    0.095           0.000                 0.000                 0.000
718    0.099           0.027                 0.000                 0.010
719    0.070           0.056                 0.031                 0.007
720    0.300           0.036                 0.016                 0.100
721    0.035           0.016                 0.039                 0.099

     Carbohydrates  Sugars  ...  Calcium  Copper   Iron  Magnesium  Manganese  \
0            0.073   0.000  ...      2.8   0.001  0.027      0.300      0.000
1            3.700   1.700  ...     10.2   0.300  0.700     49.800      0.300
2            0.000   0.000  ...      0.0   0.000  0.000      0.000      0.000
3            0.000   0.000  ...      0.0   0.000  0.000      0.000      0.000
4            0.000   0.000  ...      0.0   0.000  0.000      0.000      0.000
..             ...     ...  ...      ...     ...    ...        ...        ...
717          6.700   0.000  ...     15.8   0.400  0.600     24.800      0.040
718          0.200   0.034  ...      0.0   0.000  0.099      0.034      0.500
719          0.700   0.096  ...      0.0   5.500  0.056      1.600      2.500
720          3.300   2.200  ...      2.6   0.200  0.300      0.000      0.092
721          0.900   0.200  ...      0.0   0.500  0.008      0.200      2.700

     Phosphorus  Potassium  Selenium   Zinc  Nutrition Density
0         2.200        3.5     0.000  0.008             12.971
1       106.600       92.2     0.075  0.800             27.500
2         0.000        0.0     0.000  0.000             13.600
3         0.000        0.0     0.000  0.000            218.000
4         0.000        0.0     0.000  0.000             17.700
..          ...        ...       ...    ...                ...
717      13.900       42.6     0.034  0.700             24.249
718       0.015        3.2    10.800  0.096              0.433
719       0.060       25.0    53.000  0.069              1.727
720      92.900      313.0     0.015  0.500              9.400
721       0.055       18.0    63.000  0.048              1.804

[722 rows x 37 columns]>

In [55]:
general_food.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'food', 'Caloric Value', 'Fat',
       'Saturated Fats', 'Monounsaturated Fats', 'Polyunsaturated Fats',
       'Carbohydrates', 'Sugars', 'Protein', 'Dietary Fiber', 'Cholesterol',
       'Sodium', 'Water', 'Vitamin A', 'Vitamin B1', 'Vitamin B11',
       'Vitamin B12', 'Vitamin B2', 'Vitamin B3', 'Vitamin B5', 'Vitamin B6',
       'Vitamin C', 'Vitamin D', 'Vitamin E', 'Vitamin K', 'Calcium', 'Copper',
       'Iron', 'Magnesium', 'Manganese', 'Phosphorus', 'Potassium', 'Selenium',
       'Zinc', 'Nutrition Density'],
      dtype='object')

In [56]:
#Formatting the columns
general_food = general_food.rename(columns={ col: col.replace(" ","_").lower() for col in general_food.columns })

In [57]:
general_food.columns

Index(['unnamed:_0.1', 'unnamed:_0', 'food', 'caloric_value', 'fat',
       'saturated_fats', 'monounsaturated_fats', 'polyunsaturated_fats',
       'carbohydrates', 'sugars', 'protein', 'dietary_fiber', 'cholesterol',
       'sodium', 'water', 'vitamin_a', 'vitamin_b1', 'vitamin_b11',
       'vitamin_b12', 'vitamin_b2', 'vitamin_b3', 'vitamin_b5', 'vitamin_b6',
       'vitamin_c', 'vitamin_d', 'vitamin_e', 'vitamin_k', 'calcium', 'copper',
       'iron', 'magnesium', 'manganese', 'phosphorus', 'potassium', 'selenium',
       'zinc', 'nutrition_density'],
      dtype='object')

In [60]:
#Keeping the columns we need 

new_columns = {
    "food": "food_name", 
    "caloric_value": "calories_kcal", 
    "fat": "total_fat_g", 
    "saturated_fats": "saturated_fat_g", 
    "cholesterol": "cholesterol_mg",
    "sodium": "sodium_g", 
    "carbohydrates": "carbohydrates_g",  
    "dietary_fiber": "fiber_g", 
    "sugars": "sugar_g",
    "protein": "protein_g", 
    "vitamin_a": "vitamin_A_mg", 
    "vitamin_c": "vitamin_C_mg", 
    "calcium": "calcium_mg"
}

general_food.rename(columns=new_columns, inplace=True)

general_food = general_food[list(new_columns.values())]

In [61]:
general_food.columns

Index(['food_name', 'calories_kcal', 'total_fat_g', 'saturated_fat_g',
       'cholesterol_mg', 'sodium_g', 'carbohydrates_g', 'fiber_g', 'sugar_g',
       'protein_g', 'vitamin_A_mg', 'vitamin_C_mg', 'calcium_mg'],
      dtype='object')

In [62]:
#Checking null values 
general_food.isna().sum()

food_name          0
calories_kcal      0
total_fat_g        0
saturated_fat_g    0
cholesterol_mg     0
sodium_g           0
carbohydrates_g    0
fiber_g            0
sugar_g            0
protein_g          0
vitamin_A_mg       0
vitamin_C_mg       0
calcium_mg         0
dtype: int64

In [65]:
#Checking duplicates
general_food.food_name.value_counts()

food_name
oyster mushroom           1
margarine with yoghurt    1
sunflower seed butter     1
hazelnut oil              1
menhaden fish oil         1
                         ..
sour cream shoprite       1
ucuhuba butter oil        1
chicken fat               1
herring fish oil          1
bacon grease              1
Name: count, Length: 722, dtype: int64

In [67]:
#Checking types 
general_food.dtypes

food_name           object
calories_kcal        int64
total_fat_g        float64
saturated_fat_g    float64
cholesterol_mg     float64
sodium_g           float64
carbohydrates_g    float64
fiber_g            float64
sugar_g            float64
protein_g          float64
vitamin_A_mg       float64
vitamin_C_mg       float64
calcium_mg         float64
dtype: object

In [73]:
#Cleaned dataset!
general_food.head()

,food_name,calories_kcal,total_fat_g,saturated_fat_g,cholesterol_mg,sodium_g,carbohydrates_g,fiber_g,sugar_g,protein_g,vitamin_A_mg,vitamin_C_mg,calcium_mg
0,margarine with yoghurt,88,9.8,1.9,0.0,0.018,0.073,0.0,0.0,0.058,0.1,0.082,2.8
1,sunflower seed butter,99,8.8,0.7,0.0,0.065,3.700,0.9,1.7,2.800,0.0,0.400,10.2
2,hazelnut oil,120,13.6,1.0,0.0,0.000,0.000,0.0,0.0,0.000,0.0,0.000,0.0
3,menhaden fish oil,1966,218.0,66.3,1135.8,0.000,0.000,0.0,0.0,0.000,0.0,0.000,0.0
4,cod liver fish oil,123,13.6,3.1,77.5,0.000,0.000,0.0,0.0,0.000,4.1,0.000,0.0

In [70]:
general_food.shape

(722, 13)

In [72]:
general_food.describe()

,calories_kcal,total_fat_g,saturated_fat_g,cholesterol_mg,sodium_g,carbohydrates_g,fiber_g,sugar_g,protein_g,vitamin_A_mg,vitamin_C_mg,calcium_mg
count,722.000000,722.000000,722.000000,722.000000,722.000000,722.000000,722.000000,722.000000,722.000000,722.000000,722.000000,722.000000
mean,124.490305,5.592144,1.829550,4.893075,0.274438,15.770335,2.077719,3.097204,3.520122,0.025839,8.878006,37.683823
std,218.128817,19.851477,11.135124,44.449536,1.862910,23.106365,3.505197,7.878036,6.511791,0.214544,28.536063,84.010817
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,24.250000,0.200000,0.043250,0.000000,0.030000,2.025000,0.079000,0.000000,0.300000,0.000000,0.000000,0.074000
50%,68.500000,0.700000,0.100000,0.000000,0.082500,8.150000,0.950000,0.700000,1.800000,0.000000,0.095500,8.150000
75%,123.000000,4.375000,0.875000,0.000000,0.200000,19.775000,2.800000,3.000000,3.700000,0.000000,2.675000,35.225000
max,1966.000000,218.000000,196.200000,1135.800000,49.400000,190.100000,50.200000,105.000000,67.900000,4.100000,348.400000,868.000000